<%= form_with(model: coupone, local: true) do |form| %>
  <% if coupone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coupone.errors.count, "error") %> prohibited this coupone from being saved:</h2>

      <ul>
      <% coupone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <br>
    <%= form.select :type, select_list = [ 'fixed', 'discount'] %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= form.label :value %>
    <br>
    <%= form.number_field :value %>
  </div>
  <br>
  <div class="field" >
    <%= form.label :expiration_type  %>
    <br>
    <%= form.select :expiration_type, select_list = [ 'time', 'no_of_usage'] %>
    <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'expiration_type','select-value': 'time'} do%>
      <%= form.date_select :time %>
    <% end %>
    <%= content_tag :div, class: 'js-dependent-fields', data: {'select-id': 'expiration_type','select-value': 'no_of_usage'} do%>
      <%= form.number_field :no_of_usage %>
    <% end %>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="field">
    <%= form.label :code %>
    <br>
    <%= form.text_field :code %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= form.label :status %>
    <br>
    <%= form.select :status, options_for_select(Coupone.statuses.map {|k, v| [k, k]}) %>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
