<%= form_with(model: coupone, local: true) do |form| %>
  <% if coupone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coupone.errors.count, "error") %> prohibited this coupone from being saved:</h2>

      <ul>
      <% coupone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <br>
    <%= form.select :coupone_type, select_list = [ 'fixed', 'discount' ], class: "form-control" %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= form.label :value %>
    <br>
    <%= form.number_field :value %>
  </div>
  <br>
  <div class="field">
    <%= form.label :expiration_type %>
    <br>
    <%= form.select :coupone_type, select_list = [ 'time', 'noOfUsage' ], class: "form-control" %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= form.label :time %>
    <br>
    <%= form.date_select :time %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="field">
    <%= form.label :no_of_usage %>
    <br>
    <%= form.number_field :no_of_usage %>
  </div>
  <br>
  <div class="field">
    <%= form.label :code %>
    <br>
    <%= form.text_field :code %>
  </div>
  <br>
  <div class="field">
    <%= form.label :status %>
    <br>
    <%= form.select :state, select_list = [ 'available', 'unavailable'], class: "form-control" %>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
