<%= form_with(model: coupone, local: true) do |form| %>
  <% if coupone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coupone.errors.count, "error") %> prohibited this coupone from being saved:</h2>

      <ul>
      <% coupone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <br>
    <%= form.select :type, select_list = [ 'fixed', 'discount'] %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= form.label :value %>
    <br>
    <%= form.number_field :value %>
  </div>
  <br>
 
  <%= form_for(coupone) do |f| %> 

    <div class="field">
     <%= f.label :ExpirationType %>
     <%= f.select :expiration_type, ['time', 'no_of_usage']%>
    </div>
      <!--  here comes ternary operator -->    
    <div class="field <%= coupone.expiration_type == 'time' ? 'present' : 'hidden' %>">
     <%= f.label :time %>
     <%= f.number_field :time, options = { max: 0 }%>
    </div>
    <div class="field <%= coupone.expiration_type != 'time' ? 'present' : 'hidden' %>">
     <%= f.label :no_of_usage %>
     <%= form.number_field :no_of_usage , options = { min: 0 }%>
    </div>
    <% end %>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="field">
    <%= form.label :code %>
    <br>
    <%= form.text_field :code %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= form.label :status %>
    <br>
    <%= form.select :status, options_for_select(Coupone.statuses.map {|k, v| [k, k]}) %>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
