<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <br>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <br>
    <%= form.text_area :summary %>
  </div>
  
  <div class="md-form">
    <%= form.label :user_id %>
    <br>
    <%= form.select :user_id, ("<option></option>" + options_from_collection_for_select(User.all, :id, :name, )).html_safe %>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
