<p id="notice"><%= notice %></p>

<h1>History Of Orders </h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th> Order Id</th>
      <th> Buyer Name</th>
      <th> Buyer Email</th>
      <th> Coupone Code </th>
      <th> Paid Price</th>
      <th> Order Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.first_name %> </td>
        <td><%= order.email %></td>
        <td><%= order.coupone_code %></td>
        <td><%= order.paid_price %></td>
        <td><%= order.order_status %></td> 
        <td><%= link_to 'More Details', order_item_path(:id => order.id) %><td>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>
