<p id="notice"><%= notice %></p>

<p>
  <strong>Cart:</strong>
  <%= @order.cart %>
</p>

<p>
  <strong>Order status:</strong>
  <%= @order.order_status %>
</p>

<p>
  <strong>Coupone code:</strong>
  <%= @order.coupone_code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.Address %>
</p>

<p>
  <strong>Country:</strong>
  <%= @order.country %>
</p>

<p>
  <strong>References:</strong>
  <%= @order.references %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>References:</strong>
  <%= @order.references %>
</p>

<p>
  <strong>Paid price:</strong>
  <%= @order.paid_price %>
</p>

<p>
  <strong>First name:</strong>
  <%= @order.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @order.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Paymentmethod:</strong>
  <%= @order.paymentMethod %>
</p>

<p>
  <strong>Cardname:</strong>
  <%= @order.cardname %>
</p>

<p>
  <strong>Cardnumber:</strong>
  <%= @order.cardnumber %>
</p>

<p>
  <strong>First names:</strong>
  <%= @order.first_names %>
</p>

<p>
  <strong>Last names:</strong>
  <%= @order.last_names %>
</p>

<p>
  <strong>Emails:</strong>
  <%= @order.emails %>
</p>

<p>
  <strong>Addresss:</strong>
  <%= @order.addresss %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
