    
    <div class="container">
        <h3>your order details : </h3>
    <%= form_tag  url_for(:controller => 'orders', :action => 'update_order'), :method => 'get' do %>
      <label>Your Name :</label>
      <%= text_field_tag 'name'%></br>
      <label>Your Address :</label>
      <%= text_field_tag 'Address'%></br>
      
      <label>City :</label></br>
      <%=select_tag "city", options_from_collection_for_select(City.order(:name), :id, :name), include_blank: true%></br>
      
     </br> <label>Country :</label></br>
      <%=select_tag "country", options_from_collection_for_select(Country.order(:name), :id, :name), include_blank: true%></br>
      </br></br>
      <div class="checkout_btn_inner">
      <%= submit_tag "Order Now" ,:class=>"btn btn-primary" %>
      </div>  
      </br>
    <% end %>
    </div>

  
 