<!--================Cart Area =================-->
<section class="cart_area">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive" >
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
          <% @cartItems.each do |cartItem| %>
            <tr>
              <td>
                <div class="media">
                  <div class="d-flex">
                    <!-- <img
                      src="img/product/single-product/cart-1.jpg"
                      alt=""
                    /> -->
                    <%= image_tag(cartItem.product.image, class:'img-fluid w-100', style:'width:20px ; height:100px') if cartItem.product.image.attached?  %>
                    <!-- <%= image_tag("product/single-product/cart-1.jpg") %>  -->
                  </div>
                  <div class="media-body">
                    <p><%= cartItem.product.title%></p>
                  </div>
                </div>
              </td>
              <td>
                <h5>$<%= cartItem.product.price%></h5>
              </td>

              <td>

              <div class="cart-quantity">
      
              <%= form_tag  url_for(:controller => 'carts', :action => 'update_quantity'), :method => 'get' do %>

                <%= number_field_tag 'quantity', cartItem.quantity , :style =>"width: 60px;" %>
                <%= hidden_field_tag 'id' , cartItem.product.id%>
    
                <%= submit_tag "✔" ,:class=>"btn btn-outline-success btn-sm" ,:style => "border-radius: 100%;"%>  
              <% end %>

              </div>

              </td>
    
              <td>
                <h5>$<%= cartItem.quantity * cartItem.product.price%></h5>
              </td>
            </tr>
            <% end %>
            <tr class="bottom_button" rowspan=2>
              <td></td>
              <td></td>
              <td>   <h4>SubTotal</h4> </td>
              <td>
              <h4  style="color:red;">$<%= @subtotal %></h4>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td colspan=2>
                  <div class="cupon_text">
                  <input type="text" placeholder="Coupon Code" />
                  <a class="main_btn " href="#">Apply</a><br>
                  <a class="gray_btn" href="#">Close Coupon</a>
                </div>
              </td>
            </tr>
            <tr class="shipping_area">
              <td></td>
              <td></td>
              <td>
                <h5>Shipping</h5>
              </td>
              <td>
                <div class="shipping_box">
                  <ul class="list">
                    <li>
                      <a href="#">Flat Rate: $5.00</a>
                    </li>
                    <li>
                      <a href="#">Free Shipping</a>
                    </li>
                    <li>
                      <a href="#">Flat Rate: $10.00</a>
                    </li>
                    <li class="active">
                      <a href="#">Local Delivery: $2.00</a>
                    </li>
                  </ul>
                  <h6>
                    Calculate Shipping
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </h6>
                  <select class="shipping_select">
                    <option value="1">Bangladesh</option>
                    <option value="2">India</option>
                    <option value="4">Pakistan</option>
                  </select>
                  <select class="shipping_select">
                    <option value="1">Select a State</option>
                    <option value="2">Select a State</option>
                    <option value="4">Select a State</option>
                  </select>
                  <input type="text" placeholder="Postcode/Zipcode" />
                  <a class="gray_btn" href="#">Update Details</a>
                </div>
              </td>
            </tr>
            <tr class="out_button_area">
              <td></td>
              <td></td>
              <td></td>
              <td>
                <div class="checkout_btn_inner">
                  <a class="gray_btn" href="#">Continue Shopping</a>
                  <a class="main_btn" href="#">Proceed to checkout</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>