
<!--================Cart Area =================-->

<% flash.each do |key, value| %>
  <div class="alert alert-danger">
  <%= value %>
  </div> 
<% end %>

<section class="cart_area">  

  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive" >
        <table class="table">
          <thead>

            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
          <% @cartItems.each do |cartItem| %>
            <tr>
              <td>
                <div class="media">
                  <div class="d-flex">
                  
                    <%= image_tag(cartItem.product.image, class:'img-fluid w-100', style:'width:20px ; height:100px') if cartItem.product.image.attached?  %>
                   
                  </div>
                  <div class="media-body">
                    <p><%= cartItem.product.title%></p>
                  </div>
                </div>
              </td>
              <td>
                <h5>$<%= cartItem.product.price%></h5>
              </td>

              <td>

              <div class="cart-quantity">
      
              <%= form_tag  url_for(:controller => 'carts', :action => 'update_quantity'), :method => 'get' do %>

                <%= number_field_tag 'quantity', cartItem.quantity , :style =>"width: 60px;" %>
                <%= hidden_field_tag 'id' , cartItem.product.id%>
    
                <%= submit_tag "✔" ,:class=>"btn btn-outline-success btn-sm" ,:style => "border-radius: 100%;"%>  
              <% end %>

              </div>

              </td>
    
              <td>
                <h5>$<%= cartItem.quantity * cartItem.product.price%></h5>
              </td>
            </tr>
            <% end %>
            <tr class="bottom_button" rowspan=2>
              <td></td>
              <td></td>
              <td>   <h4>SubTotal</h4> </td>
              <td>
              <h4  style="color:red;">$<%= @subtotal %></h4>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td colspan=2>
                  <div class="cupon_text">
                   
                  <%= form_tag  url_for(:controller => 'carts', :action => 'take_coupone_code'), :method => 'get' do %>
                    <%= text_field_tag 'coupone_code'  %>
                    <%= submit_tag "Apply" ,:class=>"btn btn-success" %>  
                  <% end %>
                  <p style="color:blue;"> Current Coupone code is : <%=@code %></p>
                  
                </div>
              </td>


            <tr class="out_button_area">
              <td></td>
              <td></td>
              <td></td>
              <td>
                <div class="checkout_btn_inner">
                 <h3>Order Naw </h3> 
                  <div class="container">
                <%= form_tag  url_for(:controller => 'carts', :action => 'do_checkout'), :method => 'get',:id => 'form1' do %>
                <label>Your Name :</label>
                <%= text_field_tag 'name'%></br>
                <label>Your Address :</label>
                <%= text_field_tag 'Address'%></br>
                
                <label>City :</label></br>
                <%=select_tag "city", options_from_collection_for_select(City.order(:name), :id, :name), include_blank: true%></br>
                
              </br> <label>Country :</label></br>
                <%=select_tag "country", options_from_collection_for_select(Country.order(:name), :id, :name), include_blank: true%></br>
                </br></br>
                <%= submit_tag "Checkout" , class: "main_btn" %>

  </br>
<% end %>
</div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</section>