
<p id="notice"><%= notice %></p>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Product name</th>
      <th>Product Description</th>
      <th>Quantity<th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
     <% @orderItems.each do |orderItem| %>
      <tr>
      <td><%=orderItem.product.title%></td>
      <td><%=orderItem.product.description%></td>
      <td><%=orderItem.quantity%></td>
      <td><%=orderItem.status%></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>