 

 
 <!--================Header Menu Area =================-->
  <header class="header_area">
        <div class="top_menu">
          <div class="container">
      
          </div>
        </div>
        <div class="main_menu">
          <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
              <!-- Brand and toggle get grouped for better mobile display -->
              <a class="navbar-brand logo_h" href="index.html">
              
                 <% if current_user && current_user.avatar.attached? %>
                 <%= image_tag(current_user.avatar, class:'rounded-circle',height:50 , width:50)%>
             <% end %>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
                <div class="row w-100 mr-0">
                  <div class="col-lg-7 pr-0">
                    <ul class="nav navbar-nav center_nav pull-right">

                      <li class="nav-item active">
                          <a class="nav-link" href="/">Home</a>
                      </li>

                      <% if can? :manage, Cart %>
                      <li class="nav-item submenu dropdown">
                      <%= link_to('Cart', '/carts', class: 'nav-link')   %>
                      </li>
                      <% end %>

                      <% if can? :manage, Order %>
                      <li class="nav-item submenu dropdown">
                      <%= link_to('Orders', '/order_items', class: 'nav-link')   %>
                      </li>
                      <% end %>
                      
                      <li class="nav-item">
                        <!-- <a class="nav-link" href="contact.html">Contact</a> -->
                        <% if user_signed_in? %>
                          <li>
                          <%= link_to('Logout', destroy_user_session_path, method: :delete , class: 'nav-link')  %>        
                          </li>
                        <% else %>
                          <li>
                            <%= link_to('Login', new_user_session_path , class: 'nav-link')   %>  
                          </li>
                          <li>
                            <%= link_to('Register', '/users/sign_up' , class: 'nav-link')   %>  
                          </li>
                        <% end %>
                      </li>
                    </ul>
                  </div>
    
                  <div class="col-lg-5 pr-0">
                    <ul class="nav navbar-nav navbar-right right_nav pull-right">
    
                      <% if can? :manage, Product %>
                      <li class="nav-item">
                        <%= link_to products_path, class:"icons" do %>
                          <i class="ti-user" aria-hidden="true"></i>
                        <% end %>             
                      </li>
                      <% end %>
    
                      <% if can? :manage, '/seller' %>
                      <li class="nav-item">
                        <%= link_to '/seller', class:"icons" do %>
                          <i class="ti-heart" aria-hidden="true"></i>
                        <% end %> 
                      </li>
                      <% end %>
                      
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
<br>
<br>
 
        
      </header>