<!DOCTYPE html>
<html>
  <head>
    <title>ECommercePlatform</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "vendors/linericon/style.css" %>
    <%= stylesheet_link_tag "css/font-awesome.min.css" %>
    <%= stylesheet_link_tag "css/themify-icons.css" %>
    <%= stylesheet_link_tag "css/flaticon.css" %>
    <%= stylesheet_link_tag "vendors/owl-carousel/owl.carousel.min.css" %>
    <%= stylesheet_link_tag "vendors/lightbox/simpleLightbox.css" %>
    <%= stylesheet_link_tag "vendors/nice-select/css/nice-select.css" %>
    <%= stylesheet_link_tag "vendors/animate-css/animate.css" %>
    <%= stylesheet_link_tag "vendors/jquery-ui/jquery-ui.css" %>
    <!-- main css -->
    <%= stylesheet_link_tag "css/style.css" %>
    <%= stylesheet_link_tag "css/responsive.css" %>
  </head>

  <body>
      <%= render 'layouts/header' %>
    <%= yield %>
    
    <%= render 'layouts/footer' %>

    <!-- <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="vendors/isotope/isotope-min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendors/counter-up/jquery.counterup.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/theme.js"></script> -->
  
    
    <%= javascript_include_tag 'js/stellar.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'vendors/lightbox/simpleLightbox.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'vendors/nice-select/js/jquery.nice-select.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'vendors/isotope/imagesloaded.pkgd.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'vendors/isotope/isotope-min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'vendors/owl-carousel/owl.carousel.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/jquery.ajaxchimp.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'vendors/counter-up/jquery.waypoints.min.js', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'vendors/counter-up/jquery.counterup.js', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'js/mail-script.js', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'js/theme.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/jquery-3.2.1.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/popper.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/bootstrap.min.js', 'data-turbolinks-track': 'reload' %>
    
  </body>
</html>
